/* app css stylesheet */
.debugBox {
  z-index: 1000;
  margin-top: 1%;
  margin-right: 1%;
}

html {
  height: 100%;
  background-color: #dee1da;
}

body {
  height: 100%;
  background-color: #dee1da;
}

section {
  margin-right: 5%;
  margin-left: 5%;
}

form {
  margin-top : 5%;
}

.navbar{
  z-index : 999 !important;
  position : sticky !important;
  top: 0 !important;
}

.flexColumnContainer {
  display : flex;
  flex-direction: column;
}
.flexRowContainer {
  display : flex;
  flex-direction: row;
}

.balletQueueBanner {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.queueBannerItem {
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.view-container {
  display: flex;
  margin-bottom: 50px;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
  background-color: #dee1da;
}

.view-div {
  width : 70%;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .view-div {
    width : 90%;
  }
}




.nextBallet {
  width: 100%;
}

.buttonContainer button {
  margin-right: 5px;
  margin-left: 5px;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

.buttonDemo {

}

.errorDiv {
  margin-top : 5%;
}
