<section ng-init="init()">
  <div ng-if="!allNotes">
    <div class="errorDiv center">
      <md-icon md-svg-icon="img/exclamation.svg" style="width:50%; height: 50%"></md-icon>
      <div> <h1>Les juges n'ont pas finit leurs notations</h1></div>
    </div>

  </div>

  <div ng-if="allNotes">
    <div class="flexColumnContainer">
      <span>Etape : {{balletEnCours.etape.intitule}}</span>
      <span>Epreuve : {{balletEnCours.epreuve.intitule}}</span>
      <span>Equipe : {{balletEnCours.equipe.nom_club}}</span>


    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th colspan="5">Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(intitule, notes) in balletValide.notes" ng-if="notes">
        <td> {{intitule}}</td>
        <td ng-if="!isNoteElement(notes)" colspan="5">

          <input class="form-control"
                 ng-if="!hasMultipleElements(notes)"
                 ng-model="balletValide.notes[intitule]"
                 type="number" min="0" max="100" step="0.5" value="{{notes}}" required>

          <input class="form-control"
                 ng-if="hasMultipleElements(notes)"
                 ng-model="balletValide.notes[intitule]"
                 type="number" min="0" max="100" step="0.5" value="{{getAverageNote(notes)}}" required>
        </td>

        <td ng-if="isNoteElement(notes)" ng-repeat="(numElem, note) in notes track by $index">

          <input class="form-control"
                 ng-if="!hasMultipleElements(note)"
                 ng-model="balletValide.notes[intitule][numElem]"
                 type="number" min="0" max="100" step="0.5" value="{{note}}" required>

          <input class="form-control"
                 ng-if="hasMultipleElements(note)"
                 ng-model="balletValide.notes[intitule][numElem]"
                 type="number" min="0" max="100" step="0.5" value="{{getAverageNote(note)}}" required>
        </td>

      </tr>

      <tr>
        <td>
          Pénalité
        </td>

        <td colspan="5">
          <input class="form-control"
                 ng-model="balletValide.penalite"
                 type="number" min="-2" max="0" step="0.5" value="0" required>
        </td>
      </tr>
      </tbody>

    </table>


    <div class="center">
      <button ng-click="submit()"
              style="width: 30%"
              class="btn btn-success">
        Valider
      </button>
    </div>


  </div>
</section>
