<section ng-init="init()">

    <div ng-repeat="(etape, epreuves) in affichage.Etapes">
        <h3 data-toggle="collapse" data-target="#{{etape}}EpreuveContainer">{{etape}} </h3><span
            class="glyphicon glyphicon-triangle-bottom"></span>

        <div id="{{etape}}EpreuveContainer" class="collapse">
            <div ng-repeat="(epreuve, ballets) in epreuves.Epreuves" style="margin-left:15px">


                <h4 data-toggle="collapse" data-target="#{{epreuve}}BalletContainer">{{epreuve}}</h4>
                <div id="{{epreuve}}BalletContainer" class="collapse">
                    <div ng-repeat="ballet in ballets" style="margin-left:15px">
                        <h5> {{ballet.infos.equipe}}</h5>
                        <h5> Ballet {{ballet.infos.type}} : <b style="font-size:30px">{{ballet.score | number : 2}}</b>
                        </h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Motif</th>
                                <th>Note</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="( intitule, note) in ballet.notes">
                                <td>Note {{intitule}}</td>
                                <td ng-if="!isNoteElement(note)" colspan="5">

                                    {{note}}

                                </td>
                                <td ng-if="isNoteElement(note)">
                                    <span ng-repeat="noteE in note track by $index"> {{noteE}} </span>
                                </td>
                            </tr>

                            <tr>
                                <td>Pénalité</td>
                                <td>{{ballet.penalite}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
