<section ng-init="init()">
  <h2>Page de login</h2>

  <!--
  <form name="formLogin" style="width:40%">
    <label for="ndc"> Login :</label>
    <input id="ndc"
           name="ndcInput"
           class="form-control"
           ng-model="model.ndc" required>
    <label for="mdp"> Mot de passe :</label>
    <input type="password"
           id="mdp"
           name="mdpInput"
           class="form-control"
           ng-model="model.mdp" required>

    <input type="submit" class="btn btn-success" value="Go!"
            ng-click="submit()"/>
  </form>
  -->


  <form name="formLogin">

    <div layout="row">
      <md-input-container class="md-block">
        <label>Login </label>
        <input name="ndcInput" ng-model="model.ndc" required>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-block">
        <label>Mot de passe </label>
        <input name="mdpInput" type="password" ng-model="model.mdp" required>
      </md-input-container>

      <md-input-container>
        <md-button class="md-raised md-primary" ng-click="submit()">Go!</md-button>
      </md-input-container>
    </div>
  </form>


  <!--  Envoi les credentials a l'API
        Si l'API reponds != false, on redirige vers home, sinon on affiche un message d'erreur-->
  <div class="error" ng-if="loginError">
    {{loginError}}
  </div>

</section>
