<section ng-init="init()">

  <div class="row buttonContainer">
    <button class="btn btn-danger" ng-click="resetEpreuve()" ng-if="selectedEpreuve && !selectedEquipe">Reset Epreuve
  </button>
    <button class="btn btn-danger" ng-click="resetEquipe()" ng-if="selectedEpreuve && selectedEquipe">Reset Equipe
  </button>
  </div>

  <!-- choix de la competition -->
  <div ng-repeat="competition in $storage.competitions track by $index">
    <!-- Affiche chaque competition -->
    <div class="compet" id="selectionEpreuve" ng-if="!selectedEpreuve">
      {{competition.date}} : {{competition.ville}}

      <div class="etape">
        <div ng-repeat="etape in competition.Etapes">
          {{etape.intitule}}

          <div class="epreuve">
            <div class="buttonContainer">
              <!-- Click donne accès à la notation de cette epreuve-->
              <button ng-repeat="epreuve in etape.Epreuves" class="btn btn-default" ng-click="selectEpreuve(epreuve)">

                {{epreuve.intitule}}

              </button>

            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>


    <div ng-if="selectedEpreuve && !selectedEquipe">
      Selection de le club à noté
      <div class="buttonContainer">
        <button ng-repeat="equipe in epreuveEquipes" class="btn btn-default" ng-click="selectEquipe(selectedEpreuve.id, equipe)">
          {{equipe.nom_club}}
        </button>
      </div>
    </div>


    <!--Ici -->
    <div id="notationEpreuve" ng-if="selectedEpreuve && selectedEquipe">
      <div class="row">
        <h4 class="center">Notation de l'equipe "{{selectedEquipe.nom_club}}" pour l'epreuve {{selectedEpreuve.intitule}}: </h4>
      </div>
      <div ng-repeat="equipe in selectedEquipeNageurs" class="row col-lg-6" style="margin:auto !important; width:50% !important;">

        <table class="table table-striped">


          <thead>
            <tr>
              <th class="center">Nom</th>
              <th class="center">Prenom</th>
              <!-- En fonction du role, la/les colonnes de notes change-->
              <th ng-if="$storage.role_id >= 10" class="center">Note
                <span ng-if="$storage.role_id==11"> execution</span>
                <span ng-if="$storage.role_id==12"> artistique</span>
                <span ng-if="$storage.role_id==13"> difficulté</span>
              </th>


              <th class="center" ng-if="$storage.role_id == 2"> Element 1</th>
              <th class="center" ng-if="$storage.role_id == 2"> Element 2</th>
              <th class="center" ng-if="$storage.role_id == 2"> Element 3</th>
              <th class="center" ng-if="$storage.role_id == 2"> Element 4</th>
              <th class="center" ng-if="$storage.role_id == 2"> Element 5</th>

            </tr>
          </thead>


          <tbody>
            <tr ng-repeat="nageur in equipe.nageurs">
              <td>{{nageur.nom}}</td>
              <td>{{nageur.prenom}}</td>
              <!-- En fonction du role, la/les colonnes de notes change-->
              <td ng-if="$storage.role_id >= 10" width="50%">
                <input ng-if="$storage.role_id == 11" id="noteExecution" class="form-control" required min="0" max="10" step="0.1" type="number" ng-model="notes.execution[nageur.user_id]">
                <input ng-if="$storage.role_id == 12" id="noteArtistique" class="form-control" required min="0" max="10" step="0.1" type="number" ng-model="notes.artistique[nageur.user_id]">
                <input ng-if="$storage.role_id == 13" id="noteDifficulte" class="form-control" required min="0" max="10" step="0.1" type="number" ng-model="notes.difficulte[nageur.user_id]">
              </td>

              <td ng-if="$storage.role_id == 2"> <input id="noteElement1" class="form-control" type="number" required min="0" max="10" step="0.1" ng-model="notes.element.1[nageur.user_id]"> </td>
              <td ng-if="$storage.role_id == 2"> <input id="noteElement2" class="form-control" type="number" required min="0" max="10" step="0.1" ng-model="notes.element.2[nageur.user_id]"> </td>
              <td ng-if="$storage.role_id == 2"> <input id="noteElement3" class="form-control" type="number" required min="0" max="10" step="0.1" ng-model="notes.element.3[nageur.user_id]"> </td>
              <td ng-if="$storage.role_id == 2"> <input id="noteElement4" class="form-control" type="number" required min="0" max="10" step="0.1" ng-model="notes.element.4[nageur.user_id]"> </td>
              <td ng-if="$storage.role_id == 2"> <input id="noteElement5" class="form-control" type="number" required min="0" max="10" step="0.1" ng-model="notes.element.5[nageur.user_id]"> </td>

            </tr>
          </tbody>

        </table>
      </div>
      <div class="row buttonContainer">
        <button class="btn btn-success" ng-click="submitNotes()">Submit</button>
      </div>
    </div>


    <!-- Au clic , on affiches les différentes étapes de la competitions -->


  </div>
</section>
